@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    padding: 0;
    margin: 0;
    height: auto;
    background-color: black;
}

.section {
    text-align: center;
    font-size-adjust: auto;
    color: black;
    font-family: 'Pacifico', cursive;
    background: url(./assests/background1.jpg);
    background-size: cover;
    padding: 2rem;
    height: 700px;
    
}

.section1 {
    text-align: center;
    
}