@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    padding: 0;
    margin: 0;
    height: auto;
    background-color: white;
}

.section {
    text-align: center;
    font-size-adjust: auto;
    color: white;
    font-family: 'Pacifico', cursive;
    background: url(./assests/background1.jpg);
    background-size: cover;
    padding: 2rem;
    height: 700px;
    
}

.section1 {
    text-align: center;
    font-size-adjust: auto;
    font-family: 'Pacifico', cursive;
    background: url(./assests/background2.jpg);
    background-size: cover;
    height: 700px;
    color: white;
}

.section2 {
    font-size-adjust: auto;
    font-family: 'Permanent Marker', cursive;
    background: url(./assests/background3.jpg);
    background-size: cover;
    color: white;

}